#projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-block: 5rem 5rem;
  gap: 3rem;
}

.projects__heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: right;
  font-family: "Barlow", sans-serif;
}

.projects__group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.projects__card {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  border-radius: 10px;
  outline: none;
  border: 1px solid transparent;
  transition: border 0.3s ease-in-out;

  &:hover {
    border: 1px solid rgb(250, 249, 246, 0.5);
  }
}

.card__link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  width: 100%;
  height: auto;
}

.card__footer {
  list-style-type: none;
  color: var(--neutral-color-100);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
  background-color: var(--glass-color-100);
  backdrop-filter: blur(50px);
  border-radius: 0 10px 10px 0;
  padding: 30px;
}

.card__footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__footer-title {
  font-size: 1.2rem;
}

.card__icon {
  color: var(--neutral-color-100);
}

.card__footer-tags {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.card__footer-tag {
  list-style-type: none;
  border-radius: 10px;
  padding: 7px 10px;
  font-size: 0.8rem;
  background-color: rgb(250, 249, 246, 0.8);
  color: var(--neutral-color-900);
  font-weight: 600;
}

.card__image {
  width: 200px;
  height: 100%;
  object-fit: cover;
  object-view-box: inset(10% 10% 10% 10%);
  border-radius: 10px 0 0 10px;
}

.card__footer-description {
  font-size: 0.9rem;
  color: var(--neutral-color-100);
  line-height: 1.5;
}
