---
import "./projects.css";
import Card from "./components/Card.astro";

const { heading } = Astro.props;
---

<section id="projects">
  <h2 class="projects__heading">{heading}</h2>

  <ul class="projects__group">
    <Card
      title="WebPix"
      image="/screely-1738234351139.png"
      tags={["React", "TypeScript", "Tailwind CSS", "Vite", "i18n", "FilePond"]}
      link="https://webpix-chi.vercel.app"
    />

    <Card
      title="Cinopolis"
      image="/images/cinopolis.png"
      tags={["Next.js", "TypeScript", "TailwindCSS", "ShadCN", "TMDB API"]}
      link="https://cinopolis.vercel.app"
    />
  </ul>
</section>

<script>
  import { scrollAnimations } from "../../utils/scrollAnimations";
  import { hover, animate } from "motion";

  hover(".card__link", (el) => {
    animate(el, { scale: 0.97 }, { type: "tween", stiffness: 300 });

    return () => animate(el, { scale: 1 }, { type: "tween", stiffness: 300 });
  })
</script>
