---
import "./projects.css";
import Card from "./components/Card.astro";

const { heading } = Astro.props;
---

<section id="projects">
  <h2 class="projects__heading">{heading}</h2>

  <ul class="projects__group">
    <Card
      title="WebPix"
      image="/screely-1738234351139.png"
      tags={["React", "TypeScript", "Tailwind"]}
    />

    <Card
      title="WebPix"
      image="/screely-1738234351139.png"
      tags={["React", "TypeScript", "Tailwind"]}
    />
  </ul>
</section>

<script type="module">
  import { scroll, animate } from "motion";

  const items = document.querySelectorAll(".img-container");

  animate(".projects__heading", { y: [-100, 0], opacity: [0, 1] }, { duration: 5 });
</script>
