---
import "./projects.css";
import Card from "./components/Card.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="projects">
  <h2 class="projects__heading">{t("projects.title")}</h2>

  <ul class="projects__group">
    <Card
      title="WebPix"
      image="/screely-1738234351139.png"
      tags={["React", "TypeScript", "Tailwind CSS", "Vite", "i18n", "FilePond"]}
      link="https://webpix-chi.vercel.app"
      description={t("projects.description")[0]}
    />

    <Card
      title="Cinopolis"
      image="/images/cinopolis.png"
      tags={["Next.js", "TypeScript", "TailwindCSS", "ShadCN", "TMDB API"]}
      link="https://cinopolis.vercel.app"
      description={t("projects.description")[1]}
    />
  </ul>
</section>

<script>
  // import { scrollAnimations } from "../../utils/scrollAnimations";
  // import { hover, animate } from "motion";

  // hover(".card__link", (el) => {
  //   animate(el, { outline: '1px solid var(--neutral-color-100)', borderRadius: '10px' }, {  });

  //   return () => animate(el, { outline: 'none' }, {  });
  // })
</script>
