---
import "./form.css";
---

<section id="contact">
  <h2 class="contact__heading">Contact me</h2>

  <form class="contact__form" action="">
    <label for="email">Email</label>
    <input name="email" type="text" />

    <label for="subject">Subject</label>
    <input type="text" name="subject" id="" />

    <label for="message">Message</label>
    <textarea name="message" id="" cols="30" rows="10"></textarea>

    <input type="submit" value="Send" />
  </form>
</section>
