---
import "./form.css";
---

<section id="contact">
  <h2 class="contact__heading">Contact me</h2>

  <form class="contact__form" action="">
    <label for="">Email</label>
    <input type="text" />

    <label for="">Subject</label>
    <input type="text" name="" id="" />

    <label for="">Message</label>
    <textarea name="" id="" cols="30" rows="10"></textarea>

    <input type="submit" value="Send" />
  </form>
</section>
