#contact {
  padding-block: 8rem 0;
  width: 100%;
}

.contact__heading {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--glass-color-900);
  backdrop-filter: blur(50px);
  padding: 20px;
  border-radius: 10px;
}

label {
  font-size: var(--paragraph-size);
  color: var(--neutral-color-100);
}

#contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding-block: 8rem 0;
}
