* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  height: 100vh;
  background-color: var(--primary-color-600);
  color: var(--neutral-color-900);
  font-family: var(--font-family);
  background-repeat: no-repeat;
  overflow-y: hidden;
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Black.ttf") format("truetype");
  font-weight: 900;
}


