:root {
  --font-family: "Geist", sans-serif;
  --paragraph-size: 16px;

  --primary-color-100: #e6f4fa;
  --primary-color-200: #cde9f5;
  --primary-color-300: #b4deef;
  --primary-color-400: #9bd3ea;
  --primary-color-500: #82c8e5;
  --primary-color-600: #68a0b7;
  --primary-color-700: #4e7889;
  --primary-color-800: #34505c;
  --primary-color-900: #1a282e;

  --neutral-color-100: #ffffee;
  --neutral-color-200: #e0e0e0;
  --neutral-color-800: rgba(16, 16, 14, 0.2);
  --neutral-color-900: #10100e;
}

.clouds {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.cloud1 {
  transform: translateY(0px);
  opacity: 0.2;
}

.cloud2 {
  transform: translateY(50px);
  opacity: 0.2;
}

.cloud3 {
  transform: translateY(150px);
  opacity: 0.2;
}

#window-container {
  position: relative;
  width: 70vw;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-inline: 2px solid rgba(16, 16, 14, 0.2);
    animation: draw-border 4s linear forwards;
  }
}

#scrollable-container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  padding: 0 200px;
  z-index: 1;
}


#footer-container {
  color: var(--light-color);
}

.important {
  color: var(--neutral-color-100);
}

::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: transparent; /* Color de fondo de la pista */
  border-radius: 10px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-500);
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color del thumb al pasar el mouse */
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--neutral-color-200);
    color: var(--neutral-color-900);
  }
}

@media (max-width: 1024px) {
  #window-container {
    width: 100%;
  }

  #main-container {
    padding: 0 20px;
  }
}

@media (max-width: 1210px) {
  #main-container {
    padding: 0 20px;
  }
}
