---
import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/Nav/Nav.astro";
import "../../styles/main.css";
---

<Layout title="Home">
  <main id="main-container">
    <header id="header-container">
      <Nav />
    </header>
    <section id="projects">
      <h1 class="heading-1">Projects</h1>
      <div class="projects-container">
        <div class="project">
          <h2 class="project-title">Project 1</h2>
          <p class="project-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
            repellat vitae ut, recusandae sint nobis maiores beatae atque, laborum
            numquam ex! Repellendus culpa eligendi quo quaerat illo voluptatem
            dolorem nemo.
          </p>
        </div>
        <div class="project">
          <h2 class="project-title">Project 2</h2>
          <p class="project-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
            repellat vitae ut, recusandae sint nobis maiores beatae atque, laborum
            numquam ex! Repellendus culpa eligendi quo quaerat illo voluptatem
            dolorem nemo.
          </p>
        </div>
        <div class="project">
    </section>
  </main>
</Layout>
