#about {
  padding-block: 8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.about__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  width: 100%;
  margin-top: 20px;
}

.about__content {
  width: 100%;
}

.about__first-heading {
  font-size: 1.5rem;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
}

.about__second-heading {
  font-size: 3rem;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.about__text {
  background-color: var(--glass-color-900);
  backdrop-filter: blur(50px);
  padding: 1em 2em;
  border-radius: 10px;
  color: var(--neutral-color-100);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5;
  width: 100%;
}

.icons {
  width: 50%;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-icon {
  width: 100px;
  height: 100px;
}

.html-icon {
  width: 100px;
  height: 100px;
  rotate: 45deg;
}

.css-icon {
  width: 100px;
  height: 100px;
  rotate: -45deg;
}

.about__hr {
  border: 1px solid var(--neutral-color-900);
}
