---
import "./about.css";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { iconBubbleArray } from "./components/iconBubble.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<div id="about">
  <h2 class="about__first-heading">{t("about.title")}</h2>

  <section class="about__container">
    <div class="about__text">
      <p>{t("about.description")[0]}</p>
      <p>{t("about.description")[1]}</p>
      <p>{t("about.description")[2]}</p>
    </div>

    <div class="about__icons">
      {Object.entries(iconBubbleArray).map(([_, { icon, class: className }]) => (
        <div class={className} set:html={icon}></div>
      ))}
    </div>
  </section>

  <!-- <Timeline description={description} /> -->
</div>

<script>
  import { scrollAnimations } from "../../utils/scrollAnimations";

  scrollAnimations({
    animations: [
      {
        targetSelector: ".about__text",
        animationProps: {
          backgroundColor: "var(--glass-color-100)",
        },
        duration: 0.3,
        reverseAnimationProps: { backgroundColor: "var(--glass-color-900)" },
        reverseDuration: 0.3,
      },
    ],
  });
</script>
