

#about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding-block: 8rem 0;
}

.about__content {
  width: 50%;
}

.about__heading {
  font-size: 3rem;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.about__text--black {
  background-color: var(--neutral-color-800);
  backdrop-filter: blur(100px);
  padding: 1em 2em;
  border-radius: 10px;
  color: var(--neutral-color-100);
}

.icons {
  width: 50%;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-icon {
  width: 100px;
  height: 100px;
}

.html-icon {
  width: 100px;
  height: 100px;
  rotate: 45deg;
}

.css-icon {
  width: 100px;
  height: 100px;
  rotate: -45deg;
}

hr {
  filter: drop-shadow(0px 0px 5px var(--primary-color-500));
}
