---
import "./about.css";
import React from "../../components/About/icons/React.astro";
import HTML from "../../components/About/icons/HTML.astro";
import CSS from "../../components/About/icons/CSS.astro";

const { heading, firstParagraph, secondParagraph } = Astro.props;
---

<section id="about">
  <div class="about__content">
    <h2 class="about__heading">{heading}</h2>

    <div class="icons">
      <React />
      <HTML />
      <CSS />
    </div>
  </div>
  <div class="about__text--black">
    <p>
      {firstParagraph}
    </p>
    <p>
      {secondParagraph}
    </p>
  </div>

</section>

<script>
  import { animate } from "motion";

  animate(".about__heading", { y: [-100, 0], opacity: [0, 1] }, { duration: 1 });
</script>


