

#about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding-block: 8rem 0;
}

.content {
  width: 50%;
  color: var(--primary-color-100);
}

.icons {
  width: 50%;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-icon {
  width: 100px;
  height: 100px;
}

.html-icon {
  width: 100px;
  height: 100px;
  rotate: 45deg;
}

.css-icon {
  width: 100px;
  height: 100px;
  rotate: -45deg;
}

hr {
  filter: drop-shadow(0px 0px 5px var(--primary-color-500));
}
