---
import "./about.css";
import React from "../../components/About/icons/React.astro";
import HTML from "../../components/About/icons/HTML.astro";
import CSS from "../../components/About/icons/CSS.astro";

const {
  heading,
  secondHeading,
  firstParagraph,
  secondParagraph,
  thirdParagraph,
} = Astro.props;
---

<div id="about">
  <h2 class="about__first-heading">{heading}</h2>
  <hr class="about__hr" />
  <section class="about__container">
    <div class="about__text">
      <p>
        {firstParagraph}
      </p>
      <p>
        {secondParagraph}
      </p>
      <p>
        {thirdParagraph}
      </p>
    </div>
  </section>
</div>

<script>
  import { scrollAnimations } from "../../utils/scrollAnimations";

  scrollAnimations({
    animations: [
      {
        targetSelector: ".about__text",
        animationProps: {
          backgroundColor: "var(--glass-color-100)",
        },
        duration: 0.3,
        reverseAnimationProps: { backgroundColor: "var(--glass-color-900)" },
        reverseDuration: 0.3,
      },
      {
        targetSelector: ".about__hr",
        animationProps: {
          border: "1px solid var(--neutral-color-100)",
        },
        duration: 0.3,
        reverseAnimationProps: {
          border: "1px solid var(--neutral-color-900)",
        },
        reverseDuration: 0,
      },
    ],
  });
</script>
