---
import "./about.css";
import React from "../../components/About/icons/React.astro";
import HTML from "../../components/About/icons/HTML.astro";
import CSS from "../../components/About/icons/CSS.astro";
---

<section id="about-section">
  <div class="content">
    <p></p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, culpa
      corporis, officiis, cupiditate hic unde quasi laboriosam autem incidunt ut
      aliquam ad suscipit delectus obcaecati debitis beatae expedita similique
      consequatur?
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, culpa
      corporis, officiis, cupiditate hic unde quasi laboriosam autem incidunt ut
      aliquam ad suscipit delectus obcaecati debitis beatae expedita similique
      consequatur?
    </p>
  </div>

  <div class="icons">
    <React />
    <HTML />
    <CSS />
  </div>
</section>


