---
interface Props {
  title: string;
  image: string;
  tags: string[];
}

const { title, image, tags } = Astro.props;
---

<li class="img-container">
  <header class="img-container-content">
    <img src={image} alt="" />
  </header>


  <footer>
    <h3>{title}</h3>
    <ul>
      {tags && tags.map((tag) => <li>{tag}</li>)}
    </ul>
  </footer>
</li>
