---
interface Props {
  title: string;
  image: string;
  tags: string[];
}

const { title, image, tags } = Astro.props;
---

<li class="projects__card card">
  <h3 class="card__title">{title}</h3>
  <ul class="card__tags">
    {tags && tags.map((tag) => <li class="card__tag">{tag}</li>)}
  </ul>
</li>
