---
import "./header.css";
import { icons } from "./icons/icons";

const { position, headline } = Astro.props;
---

<header id="header">
  <div class="header__content">
    <div class="header__text">
      <h1 class="header__title"></h1>

      <h2 class="header__position">{position}</h2>
    </div>

    <div class="header__logo-container">
      <img src="/Daniel.jpg" alt="Profile Picture" class="header__logo" />
    </div>
  </div>

  <p class="header__headline">
    {headline}
  </p>

  <div id="social-container">
    <a href="https://github.com/kiudev" target="_blank" set:html={icons.github}>
    </a>
    <a href="https://linkedin.com/in/danisaavedraes" target="_blank" set:html={icons.linkedin}>
    </a>
  </div>


</header>

<script>
  import { animate, hover } from "motion";

  const headingElement = document.querySelector(".header__title");

  const headingText = "Daniel Saavedra";
  const splitedText = headingText.split("");

  splitedText?.forEach((char) => {
    const span = document.createElement("span");
    span.className = "animated-text";
    span.textContent = char;
    headingElement?.appendChild(span);
  });

  const spans = document.querySelectorAll(".animated-text");

  spans.forEach((el, i) => {
    animate(
      el,
      { opacity: [0, 1], filter: ["blur(10px)", "blur(0px)"] },
      { duration: 1, delay: i * 0.1 },
    );
  });

  animate(
    ".header__logo",
    { scale: [0.4, 1] },
    { ease: "circInOut", duration: 1 },
  );

  hover("#social-container a", (el) => {
    animate(el, { scale: 1.2 }, { type: "tween", stiffness: 300 });

    return () => animate(el, { scale: 1 }, { type: "tween", stiffness: 300 });
  });
</script>
