---
import "@/styles/layout.css";
import { getLangFromUrl } from "@/i18n/utils";

const { title } = Astro.props;
const lang = getLangFromUrl(Astro.url)
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="shortcut icon" href="/Daniel.jpg" type="image/x-icon">
    <title>{title}</title>
    <link rel="stylesheet" href="@/styles/layout.css" />
  </head>
  <body>
    <div id="scrollable-container">
      <slot />
    </div>
  </body>
</html>
