---
import "../styles/layout.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="shortcut icon" href="/Daniel.jpg" type="image/x-icon">
    <title>{title}</title>
    <link rel="stylesheet" href="src/styles/layout.css" />
  </head>
  <body>
    <div id="scrollable-container">
      <slot />
    </div>
  </body>
</html>
