#header-container {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  border-radius: 50px;
  padding: 1em 2em;
  background-color: var(--glass-color-900);
}

nav a {
  color: var(--neutral-color-100);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.lang {
  color: var(--neutral-color-100);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.hidden {
  display: none;
}

.lang-container {
  display: flex;
  flex-direction: column;
}

#langSelect {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  color: var(--neutral-color-100);
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
}

#langOptions {
  list-style-type: none;
  position: absolute;
  top: 50px;
  right: 30px;
  width: 120px;
  background-color: var(--glass-color-900);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
