---
import { getRelativeLocaleUrl } from "astro:i18n";
import "./nav.css";

const { about, projects, contact } = Astro.props;
---

<nav class="nav">
  <a href="#about">{about}</a>

  <a href="#projects">{projects}</a>

  <a href="#contact">{contact}</a>

  <a class="lang" href={getRelativeLocaleUrl("es")}>es</a>

  <a class="lang" href={getRelativeLocaleUrl("en")}>en</a>
</nav>

<script>
  import { animate, circInOut } from "motion";

  animate(
    ".nav",
    { y: [-100, 0], filter: ["blur(5px)", "blur(0px)"] },
    { ease: circInOut, duration: 1 },
  );
</script>
